head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(http-equiv="x-ua-compatible", content="ie=edge")
	
	title #{title}

	link(rel="shortcut icon", type="image/png", href="/img/favicon.png")

	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

	link(href="/css/bootstrap.min.css", rel="stylesheet")
	link(href="/css/material-kit.css", rel="stylesheet")
	link(href="/css/material-kit.css.map", rel="stylesheet")
	link(href="/css/master.css", rel="stylesheet", defer)

	script(src='/socket.io/socket.io.js')
	script(src='/js/jquery.min.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/material.min.js')
	script(src='/js/material-kit.js')
	script(src='/js/master.js')

	link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700")