doctype html
html
	include head
	body
		div.jumbotron(style="background-color: #ad28c3;")
			div.container
				h1.text-center 404
				p.text-center Essa página não existe
				div.d-flex.flex-row-reverse
					div.p-2
						a.btn.btn-primary(href="/", role="button") Voltar ao início